/**----common style----**/
*{
    margin: 0%;
    padding: 0%;
}
.container{
    max-width: 1250px;
    margin: auto;
}
header{
    padding: 20px 0 0 0;
}



/**----nav style----**/
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items ul{   
    list-style: none;
    display: flex;
    gap: 50px;
}
.nav-items ul a{
    text-decoration: none;
}
.banner{
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.banner .left-div h1{
    font-weight: 700;
    font-size: 65px;
    font-family: "Poppins", sans-serif;
}
.banner .left-div p{
    font-size: 22px;
}




/**----banner style----**/
.our-plants{
    margin-top: 50px;
}
.our-plants h3{
    font-weight: 700; 
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.our-plants{
    text-align: center;
}
.btn{
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 80px 20px 80px;
    margin-top: 10px;
    border: none;
}
.usd{
    line-height: 30px;
}
.Lily-Blossom{
    line-height: 30px;
}
.card{
    line-height: 40px;
}
.card p{
    font-size: 22px;
    font-weight: 700;
}
.card-praimary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 20px;
}




/**----challenge section style----**/
.banner-left p{
    font-size: 50px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.challenge-section{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 200px;
}
.banner-img-2 img{
    position: relative;
    height: 300px;
    right: -350px;
    top: -750px;
}
.banner-left ul li{
    font-size: 22px;
}
.banner-left ul li{
    margin-top: 20px;
}
.banner-left{
    position: relative;
    top: -150px;
}
.position{
    margin-left: -30px;
}